.box {
  --box-width: 200px;
  --ball-width: 32px;
  aspect-ratio: 1 / 1;
  width: var(--box-width);
  border-radius: 18px;
  background-clip: padding-box;
  overflow: hidden;
  box-shadow: 0 0 0 6px rgb(203, 203, 203);
  margin: 0;
  background: rgb(203, 203, 203);
  position: relative;
}

.boxContent {
  position: absolute;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  inset: var(--ball-width);
  text-align: center;
  font-weight: bold;
}

.ball {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: var(--ball-width);
  transform-origin: 0 0;
  transform: translate(0px, 0px);
  background: #484848;
}

.ball.paused {
  animation-play-state: paused !important;
}

.traverse {
  animation: traverse 1 linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

.descend {
  animation: descend 1 linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

.retreat {
  animation: retreat 1 linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

.ascend {
  animation: ascend 1 linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

@keyframes traverse {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(calc(var(--box-width) - var(--ball-width)), 0);
  }
}

@keyframes descend {
  0% {
    transform: translate(calc(var(--box-width) - var(--ball-width)), 0);
  }

  100% {
    transform: translate(calc(var(--box-width) - var(--ball-width)), calc(200px - var(--ball-width)));
  }
}

@keyframes retreat {
  0% {
    transform: translate(calc(var(--box-width) - var(--ball-width)), calc(200px - var(--ball-width)));
  }

  100% {
    transform: translate(0, calc(var(--box-width) - var(--ball-width)));
  }
}

@keyframes ascend {
  0% {
    transform: translate(0, calc(var(--box-width) - var(--ball-width)));
  }

  100% {
    transform: translate(0, 0);
  }
}